body::before {
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--gradient-dm-003), url('../img/backgrounds/construccion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-001);
}

main h1 {
    font-size: 2rem;
    font-weight: normal;
}

main .logo {
    width: 8rem;
}

main .text {
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
    font-size: 1rem;
    font-weight: lighter;
}

main .social {
    display: flex;
}

main .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.3125rem;
    border-radius: 100%;    
    font-size: 1.5rem;
    color: var(--white-001);

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

main .social a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

main .social .facebook {
    background-color: var(--blue-004)
}

main .social .whatsapp {
    background-color: var(--green-003);
}

main .social .instagram {
    background-color: var(--fucsia-001);
}

main .social .mail {
    background-color: var(--yellow-004);
}

/* --------------------------- */
/* Media Queries               */
/* --------------------------- */
@media screen and (min-width: 500px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 23px;
    }

    main h1 {
        font-size: 2.1rem;
    }

    main .text {
        margin-top: 8rem;
    }

    main .social a {
        width: 2rem;
        height: 2rem;        

        font-size: 1.2rem;        
    }
}