/* ----------------------------- */
/* Estilos de la página 404      */
/* ----------------------------- */
body {
    background-color: var(--purple-005);
    color: var(--purple-004);
}

.error-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.error-404 img {
    margin-top: 1.5625rem;
}

.error-404 .error-title {
    margin: 0 0 0.9375rem 0;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.error-404 .error-msg {
    margin: 0;
    max-width: 90%;
    font-size: 1.5625rem;
    font-weight: 500;
}

.error-404 .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.875rem 0;
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: var(--purple-004);
    font-size: 1.375rem;
    color: var(--white-001);
    transition: all 0.2s ease;
}

.error-404 .button i {
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

/* ----------------------------- */
/* Media Queries                 */
/* ----------------------------- */
@media screen and (min-width: 768px) {
    .error-404 .error-title {
        font-size: 3.125rem;
    }

    .error-404 .error-msg {
        max-width: 100%;
    }
}