/* ------------------------------ */
/* Estilos de la pagina Servicios */
/* ------------------------------ */
.contenedor {
    max-width: 90%;
}

main .servicios .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.75rem;
    margin-top: 4rem;
    background: linear-gradient(var(--black-002) 0%, var(--black-002) 50%), url('../img/headers/servicios.jpg');
    background-position: center center;
    background-size: cover;
}

main .servicios h1 {
    margin: 0;
    padding: 0;
    font-size: var(--font-title);
    text-shadow: 0.25rem 0.25rem 0.125rem var(--black-003);
    text-transform: uppercase;
    text-align: center;
    color: var(--white-001);
}

main .servicios .services-intro {
    margin: 2.5rem 0;
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.5625rem;
}

main .servicios .service-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main .servicios .service-tiles .service-01 {
    background-image: url('../img/pic/servicio1.jpg');
}

main .servicios .service-tiles .service-02 {
    background-image: url('../img/pic/servicio2.jpg');
}

main .servicios .service-tiles .service-03 {
    background-image: url('../img/pic/servicio3.jpg');
}

main .servicios .service-tiles .service-04 {
    background-image: url('../img/pic/servicio4.jpg');
}

main .servicios .service-tiles .service-05 {
    background-image: url('../img/pic/servicio5.jpg');
}

main .servicios .service-tiles .service-06 {
    background-image: url('../img/pic/servicio6.jpg');
}

main .servicios .service-tiles .service {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 18.75rem;
    margin-bottom: 1.5625rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

main .servicios .service-tiles .service h2 {
    height: 2.5rem;
    margin: 0;
    background-color: var(--blue-002);
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Cooper Hewitt Light', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.7rem;
    color: var(--white-001);
}

main .servicios .service-tiles .service .service-body {
    width: 100%;
    height: 16.25rem;
    background-color: var(--black-003);
}

main .servicios .service-tiles .service .service-body p {
    height: 10.3125rem;
    margin: 0;
    padding: 1.25rem 0.625rem 0.625rem 0.625rem;
    font-size: 1rem;
    text-align: center;
    color: var(--white-001);
}

main .servicios .service-tiles .service .service-body .service-link {
    display: flex;
    align-items: flex-start;
    height: 3.75rem;
}

main .servicios .service-tiles .service .service-body .service-link a {
    display: block;
    width: 30%;
    margin: auto;
    border: 0.125rem solid var(--white-001);
    border-radius: 5px;
    background: var(--purple-006);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.875rem;
    color: var(--white-001);
}

/* ----------------------------- */
/* Media Queries                 */
/* ----------------------------- */
@media screen and (min-width: 768px) {
    body {
        background-image: url('../img/backgrounds/servicios.jpg');
        background-position: center right;
        background-attachment: fixed;
        background-size: cover;
    }

    .contenedor {
        max-width: 100%;
    }

    main .servicios {
        max-width: 67vw;
    }

    main .servicios .header-img {
        display: block;
        height: 0;
        padding: 4.375rem 0 0 0;
        margin-bottom: 5.625rem;
        background: none;
        text-align: center;
    }

    main .servicios h1 {
        font-size: var(--font-title-screen);
        text-shadow: none;
        color: var(--green-001);
    }

    main .servicios .service-tiles .service:hover .service-body {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    main .servicios .service-tiles .service .service-body {
        -webkit-transform: translateX(-95%);
        -moz-transform: translateX(-95%);
        -ms-transform: translateX(-95%);
        -o-transform: translateX(-95%);
        transform: translateX(-95%);

        -webkit-transition: transform 0.4s ease-out 0.1s;
        -moz-transition: transform 0.4s ease-out 0.1s;
        -ms-transition: transform 0.4s ease-out 0.1s;
        -o-transition: transform 0.4s ease-out 0.1s;
        transition: transform 0.4s ease-out 0.01s;
    }

    main .servicios .service-tiles .service .service-body p {
        font-size: 1.1rem;
    }

    main .servicios .service-tiles .service .service-body .service-link a {
        background-color: var(--purple-006);        
    }

    main .servicios .service-tiles .service .service-body .service-link a:hover {
        background-color: var(--purple-004);
    }
}